input[type="text"]:valid,
input[type="password"].strong-password {
    border-color: green;
}

input[type="password"].medium-password {
    border-color: yellow;
}

input[type="text"]:invalid,
input[type="password"].invalid-password {
    border-color: red;
}
